<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forget Password Page</title>

    <link rel="stylesheet" type="text/css" href="forget_pwd.css"/>
    <script type="text/javascript" src="forget_pwd.js"></script>
</head>

<body>


<h1 id="company_name">Happy Vibes Co.</h1>
<div id="login_frame">
    <form method="post" action="forget_pwd.js">
        <p><img class="login_icons" id = "email_icon" src = "email.png"><input type="text" id="email" class="text_field" placeholder = "Enter your email"</p>
        <div id="login_control">
            <input type="button" id="btn_login" value="Submit" onclick="login();"/>
            <a id="recall" href="login.html">Remember Your Password?</a>
        </div>
    </form>
</div>

</body>
</html>