<nav class="dp">
  <button onclick="toggleDp()" class="dropbtn">
    <img src="/img/lineIcon.png" alt="-" id="line-icon">
  </button>
  <div id="Dropdown" class="dropdown-content">
    <a class="nav-li" id="user_likes">Likes: </a>
    <a href="/welcome" class = "nav-li">Change workspace</a>
    <a href="#" class = "nav-li" onclick="open_join_workspace_overlay()">Join Workspace</a>
    <a href="/logout" class ="nav-li">Log out</a>
  </div>
</nav>
