@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500|Roboto+Condensed:300,400,700');

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #466368;
}
.page {
    display:grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 4em 100vh;
    grid-template-areas:
            "header header"
            "postits events";
    background: linear-gradient(to top, #114357, #f29492);;
}

.bottom_right_buttons {
    opacity: 0.5;
    height: 3em;
    right: 8px;
    bottom: -2px;
    z-index: 2;
    position:absolute;
}

.bottom_right_buttons:hover {
    opacity: 1;
    height: 3em;
    right: 8px;
    bottom: -2px;
    z-index: 2;
    position:absolute;
}


.add_event_button {
    bottom: 10px;
}

.add_event_button:hover {
    bottom: 10px;
}

.sticky {
    background-color: whitesmoke;
    position: absolute;

    font-family: "Oswald";
    min-height: 250px;
    min-width: 250px;
    max-height: 250px;
    max-width: 250px;
    border-radius: 5px;
    opacity: 0.6;
}

.sticky:hover{
    background-color: whitesmoke;
    position: absolute;
    font-family: "Oswald";
    min-height: 250px;
    min-width: 250px;
    max-height: 250px;
    max-width: 250px;
    border-radius: 5px;
    opacity: 1;
    z-index: 2;
}

.header {
    grid-area: header;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 3px;
    border-bottom: 1px whitesmoke solid;
    opacity: 0.8;

}


.company_name {
    font-family: "Oswald";
    font-weight: 400;
    font-size: 3em;
    text-align: left;
    color: ghostwhite;
    margin-top: -5px;
    margin-left: 20px;
}

.postits {
    grid-area: postits;
    position: relative;
    /*background: whitesmoke;*/
    opacity: 1;
    margin-top: 10px;
    margin-bottom: 80px;
    border-right: 1px whitesmoke solid;
}

#postits {
    position: relative;
    height: 100%;
    width: 100%;
    margin-bottom: 1px;
}

#postHeader {
    font-family:  "Oswald";
    border-bottom: 1px whitesmoke solid;
    width: 500px;
    font-weight: 300;
    /*margin-left: 260px;
    margin-right: 260px;*/
    position: absolute;
    margin-left: -250px;
    left: 50%;
    height: 50px;
    font-size:2em;
    color: whitesmoke;
    text-align: center;
}

#eventHeader {
    font-family:  "Oswald";
    font-weight: 300;
    margin-top: 10px;
    height: 50px;
    font-size:2em;
    color: whitesmoke;
    text-align: center;
    border-bottom: 1px whitesmoke solid;
    width: 300px;
    margin-left: 50px;
    margin-right: 50px;
}


.events {
    grid-area: events;
    min-height: 100%;
    width: 400px;
    justify-self: stretch;
    overflow: auto;
}

#newnote {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -175px;
    margin-left: -150px;
    width: 300px;
    height: 350px;
    /*background-color: blue;*/
    text-align: center;
}

#new_event {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
    width: 400px;
    height: 200px;
    background-color: ghostwhite;
}

#typesticky {
    position: relative;
    left: 50%;
    margin-left: -125px;
    margin-top: 20px;

}
.overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 10; /* Specify a stack order in case you're using a different order for other elements */
}

.sticky_text {
    margin: 10px 10px 10px 10px;
    min-height: 230px;
    min-width: 230px;
    max-height: 230px;
    max-width: 230px;
    display: inline-block;
    text-align: center;
}

#post_button {
    margin-top: 20px;
    height: 30px;
    width: 70px;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    opacity: 0.8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.event_card {
    width: 380px;
    height: 200px;
    margin: 10px 10px 10px 10px;
    background-color: cadetblue;
}

.event_title {
    display: inline-block;
}

.event_time {
    float: right;
}

.event_date {
    float: right;
}

.event_location {

}