<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="board_page.css">
    <script src="board_page.js"></script>
</head>
<body>
<div class="page">
    <div class="header">
        <p class = "company_name"> HAPPY VIBES CO.</p>
    </div>

    <div id="postits" class="postits">
        <div id="postHeader">
            OFFICE MESSAGE BOARD
        </div>
        <img class="bottom_right_buttons" src="plusButton.png" onclick="open_new_note_overlay()">
    </div>


    <div class="events">
        <div id="eventHeader">
            UPCOMING EVENTS
        </div>
    </div>
</div>

<div id="note_submit_overlay">
    <div id="newnote">
        <div class="sticky" id="typesticky">
            <div id="sticky_submit_text" class="sticky_text" class="editable" contenteditable="true">
            </div>
            <!-- Anonymous <input type="checkbox"> <br> -->
            <button type="button" id="post_button" onclick="create_postit()">Post It!</button>

        </div>
    </div>
</div>
</body>
</html>