@import
url('https://fonts.googleapis.com/css?family=Open+Sans');
@import
url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    background: linear-gradient(2deg, #355c7d, #6c5b7b, #c06c84, #3e5151, #2c3e50);
    background-size: 1000% 1000%;
    animation: fadein 2s, GradientChange 60s infinite;
    -moz-animation: fadein 2s, GradientChange 60s infinite; /* Firefox */
    -webkit-animation: fadein 2s, GradientChange 60s infinite; /* Safari and Chrome */
    -o-animation: fadein 2s, GradientChange 60s infinite; /* Opera */
}



@-webkit-keyframes GradientChange {
    0%{background-position:64% 0%}
    50%{background-position:37% 100%}
    100%{background-position:64% 0%}
}
@-moz-keyframes GradientChange {
    0%{background-position:64% 0%}
    50%{background-position:37% 100%}
    100%{background-position:64% 0%}
}
@-o-keyframes GradientChange {
    0%{background-position:64% 0%}
    50%{background-position:37% 100%}
    100%{background-position:64% 0%}
}
@keyframes GradientChange {
    0%{background-position:64% 0%}
    50%{background-position:37% 100%}
    100%{background-position:64% 0%}
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}



#account_name {
    font-family: 'Open Sans', sans-serif;;
    display:block;
    font-size: 30px;
    padding: 12px;
    color: white
}

#profile_picture{
  display: block;
  margin: 0 auto;
  max-width: 63px;
  background: white;
  border-radius: 27px;
  padding: 8px;
}

#thumbs_up{
  max-width: 20px;
  padding-right: 2px;
}

.wrapper{
  display: flex;
  padding-left: 30px;
  font-family: "Roboto Condensed";
}

.personal_detail{
  color: white;
  padding-top: 16px;
  border-right: 1px solid white;
  padding-right: 5%;
}

.total_likes, .total_posts {
  display:block;
  padding: 20px;
  color: white;
}

@media(max-width:512px):{
  .wrapper{
    flex-direction: column;
    padding-left: 30px;
  }

}
