#workspace_frame {
    width: 400px;
    height: 70px;
    padding: 13px;

    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -70px;
    margin-left: -220px;

    background-color: rgba(218, 226, 237, 0.5);
    border-radius: 10px;
    text-align: center;
}

#error_message {
    font-family: "Roboto Condensed";
    text-align: center;
    color: red;
    position: absolute;
    margin-top: -100px;
    margin-left: -205px;
    top:50%;
    left:50%;
}

#create_account_frame {
    width: 400px;
    height: 195px;
    padding: 13px;

    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: 40px;
    margin-left: -220px;

    background-color: rgba(218, 226, 237, 0.5);
    border-radius: 10px;
    text-align: center;
    display: none;
}

#existing_account_frame {
    width: 400px;
    height: 70px;
    padding: 13px;

    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: 40px;
    margin-left: -220px;

    background-color: rgba(218, 226, 237, 0.5);
    border-radius: 10px;
    text-align: center;
    display: none;
}


form p > * {
    display: inline-block;
    vertical-align: middle;
}



.label_input {
    font-size: 14px;
    font-family: "Roboto Condensed";

    width: 120px;
    height: 28px;
    line-height: 28px;
    text-align: center;

    color: white;
    background-color: rgba(68, 79, 71, 0.6);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.text_field {
    width: 360px;
    height: 50px;
    margin-top: -40px;
    margin-left: 40px;
    border-radius: 4px;
    border: 0;
    outline:none !important;
    background: transparent !important;
}


.login_icons{
    float:left;
    margin-top: -12px;
    height: 20px;
    width: 20px;
}

#btn_login {
    font-size: 14px;
    font-family: "Roboto Condensed";

    height: 28px;
    line-height: 28px;
    text-align: center;
    color: black;
    outline:none !important;
    background-color: whitesmoke;
    border-radius: 6px;
    border: 0;
    opacity: 0.6;
}

#signup {
    font-size: 14px;
    color: white;
    text-decoration: none;
    position: relative;
    float: center;
    top: 3px;

}

#signup:hover {
    color: rgba(68, 79, 71, 0.6);
    text-decoration: underline;
}

#email_icon{
    height: 16px;

}

#recall {
    display: block;
    font-family: "Roboto Condensed";
    font-size: 12px;
    color: white;
    margin-left: 8px;
    text-decoration: none;
    margin-top: 2px;
}


#recall:hover {
    color: rgba(68, 79, 71, 0.6);
    text-decoration: underline;
}

.login_control {
    padding: 0 28px;
}