<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Account</title>
</head>
<body>
<div class = "top_row">

</div>
<div id = "middle_left">

</div>
<div id = "profile_photo">

</div>
<div id = "middle_right">

</div>
<div class = "bottom row">
    
</div>


</body>
</html>