<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Account</title>
    <% include ../partials/accountpage %>
</head>
<body>

<!-- Sidebar -->
<% include ../partials/sidebar %>


<article class = "page" id = "main">
    <nav class = "header">
        <figure id = "account_name">
            My Account
        </figure>
    </nav>


    <section>
        <figure class = "account_photo">
            <img id = "profile_picture" src = "/img/profileImg.png">
        </figure>
        <div class="wrapper">
          <figure class = "personal_detail">
              Fill up your personal details so people can get to know you!
          </figure>
        <div class="status">
          <figure class = "total_likes">
              Total <img src="/img/thumbsUp.png" alt="thumb up image" id="thumbs_up">:
          </figure>
          <figure class = "total_posts">
              Total Posts:
          </figure>
        </div>
        </div>
    </section>
</article>


</body>
</html>
