<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign Up Page</title>

    <% include ../partials/signup %>
</head>

<body>

<!-- Logo -->
<h1 id="company_name">HAPPY VIBES CO.</h1>

<p id="error_message"></p>

<!-- Input Box -->
<div id="login_frame">


    <form method="post" action="login.js">

        <p><img class="login_icons" src = "/img/profileImg.png"><input type="text" id="workspaceID" class="text_field" placeholder="Workspace ID"/></p>
        <p><img class="login_icons" src = "/img/profileImg.png"><input type="text" id="firstname" class="text_field" placeholder="First Name"/></p>
        <p><img class="login_icons" src = "/img/profileImg.png"><input type="text" id="lastname" class="text_field" placeholder="Last Name"/></p>
        <p><img class="login_icons" id = "email_icon" src = "/img/email.png"><input type="text" id="email" class="text_field" placeholder="Email"/></p>
        <p><img class="login_icons" src = "/img/lockIcon.svg"><input type="password" id="password" class="text_field" placeholder="Password"/></p>
        <p><img class="login_icons" src = "/img/lockIcon.svg"><input type="password" id="con_password" class="text_field" placeholder="Re-type Password"/></p>


        <div id="login_control">
            <input type="button" id="btn_login" value="Submit" onclick="login();"/>
            <a id="recall" href="<%= link%>">Already have an account?</a>
        </div>
    </form>
</div>

</body>
</html>