<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <% include ../partials/welcome_page %>
</head>
<body>
<div class = "page" id = "main">
    <div class = "header">
        <div id = "company_name">
            HAPPY VIBES CO.
        </div>
    </div>
    <div class = "motivational_message">
        HOPE YOU HAVE A GREAT DAY AT THE OFFICE BOB!
    </div>
    </div>
</div>
</body>
</html>