<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
<div class = "page" id = "main">
    <div class = "header">
        <div id = "account_name">
            HAPPY VIBES CO.
        </div>
    </div>
    <h1> Hope you have a good day at the office! </h1>

</body>
</html>